html,
body {
   margin: 0;
   height: 100%;
   font-family: sans-serif;
   background-color: #362419;
   background-image: url(".././media/img/darkwood.jpg");
}

.categoryBox {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.categoryBox > a {
   margin: 20px
}

.verticalBox {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.content {
   flex: 1 1 auto;
   text-align: center;
   color: white;
}

.practiceBox {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100%;
}

.moveablesBox {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   width: 90%;
}

.moveablesBox > div {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.moveable {
   position: relative;
   z-index: 1;
   filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(0, 0, 20, 0.8));
}

.target {
   height: 150px;
   width: 150px;
   outline: 3px dashed whitesmoke;
   z-index: 0;
   visibility: hidden;
}

.spacer {
   flex: 1 1 auto;
   min-height: 10px;
   max-height: 100px;
}

/* .card {
   display: flex;
   justify-content: center;
   width: 100px;
   height: 100px;
} */

.cardImage {
   max-width: 100px;
   max-height: 100px;
   width: 100px;
   height: auto;
}

.categoryImage {
   max-width: 150px;
   max-height: 150px;
   width: 150px;
   height: auto;
}

#newQuestion {
   position:absolute;
   background-color: lightgreen;
   border-color: rgb(178, 236, 178);
   border-radius: 6px;
   right: 10px;
   top: 10px;
}

#newQuestion > img {
   width: 80px;
   height: auto;
}

#newQuestion:disabled  {
   opacity: 0.5;
}

#checkAnswer {
   position:absolute;
   height: 90px;
   left: 10px;
   top: 10px;
}

#checkAnswer > img {
   width: 80px;
   height: auto;
}

#checkAnswer:disabled > img {
   opacity: 0.3;
}