html,
body {
   margin: 0;
   height: 100%;
   font-family: sans-serif;
   background-color: #362419;
   background-image: url(".././media/img/darkwood.jpg");
}

.categoryBox {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.categoryBox > a {
   margin: 20px
}

.verticalBox {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.content {
   flex: 1 1 auto;
   text-align: center;
   color: white;
}

.practiceBox {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   height: 100%;
}

.moveablesBox {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}

.moveablesBox > div {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.moveable {
   z-index: 1;
   filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(0, 0, 20, 0.8));
   touch-action: none;
}

.card {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.cardImg {
   max-width: 100px;
   max-height: 100px;
   width: 100px;
   height: auto;
   display: block;
}

.card > p {
   margin-top: 6px;
   margin-bottom: 0;
   background-color: white;
   color: black;
}

.audioIndicator {
   width: 20px;
}

.target {
   position: relative;
   height: 150px;
   width: 150px;
   outline: 3px dashed whitesmoke;
   z-index: 0;
   visibility: hidden;
}

.categoryImage {
   max-width: 150px;
   max-height: 150px;
   width: 150px;
   height: auto;
   display: block;
}

#showOptions {
   position: absolute;
   bottom: 10px;
   right: 10px;
   width: 50px;
   height: 50px;
}

#forms {
   display: none;
   position: absolute;
   bottom: 70px;
   right: 10px;
   text-align: center;
}

#forms > form {
   background-color: rgba(255, 255, 255, 0.5);
}

#newQuestion {
   position:absolute;
   background-color: lightgreen;
   border-color: rgb(178, 236, 178);
   border-radius: 6px;
   right: 10px;
   top: 10px;
}

#newQuestion > img {
   width: 80px;
   height: auto;
}

#newQuestion:disabled  {
   opacity: 0.5;
}

#checkAnswer {
   position:absolute;
   height: 90px;
   left: 10px;
   top: 10px;
}

#checkAnswer > img {
   width: 80px;
   height: auto;
}

#checkAnswer:disabled > img {
   opacity: 0.3;
}

#backLink {
   position: absolute;
   left: 10px;
   bottom: 10px;
}

#backLink > img {
   width: 80px;
   height: auto;
}

#score {
   position:absolute;
   top: 10px;
   left: 50%;
   transform: translate(-50%, 0);
   color: white;
   font-size: x-large;
}